{erl_opts, [{i, "src"},
            warnings_as_errors,
            debug_info,
            {w, all},
            warn_export_all]}.

{deps, [{hex2bin, "1.0.0"}]}.

{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/sha3_nif.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"(linux|darwin)", "CFLAGS", "$CFLAGS -O2 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99"},
    {"win32", "CFLAGS", "$CFLAGS /LD /O2 /DNDEBUG"}
]}.


{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.
