{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{port_env, [{"CFLAGS", "$CFLAGS -O2 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99"}]}.

{port_specs, [
    % 64 bit only
    {"priv/sha3_nif.so", ["c_src/sha3_nif.c",
                          "c_src/KeccakNISTInterface.c",
                          "c_src/KeccakSponge.c",
                          "c_src/KeccakF-1600-opt64.c",
                          "c_src/displayIntermediateValues.c"]}
]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

